header{
    width: 98vw;
    max-height: 10%;
}

.navbar{
    background-color: rgb(250, 204, 204);
}

.nav-item{
    display: flex;
    background-color: rgb(238, 234, 234);
    margin: 0.5rem;
    padding: 0rem 0.5rem;
    border-style: outset;
    justify-content: center;
    align-items: center;
}

.Subtitulo{
    background-color: rgb(202, 199, 199);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

body{
    background-color: rgb(238, 234, 234);
    position: relative;
    padding-bottom: 3rem;
    min-height: 70vh;
    width: 100vw;
}

.space-between{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space-between_inCard{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#checkbox_category{
    appearance: none;
    display: flex;
    flex-wrap: wrap;
}

.category{
    margin: 1rem;
}

.card-title{
    text-align: center;
}

.btn-primary{
    background-color: rgb(189, 7, 98);
}

#ContenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 1.3rem;
    width: 18rem;
    height: 28rem;
}

.card-text{
    height: 6rem;
    overflow: hidden;
}

#container-detail{
    display: inline;
    width: 100vw;
    margin: 1rem;
}

.card-text-center{
    text-align: center;
    margin-top: 1rem;
}
.card-img-left{
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#img-Details{
    margin: 2rem;
    max-width: 450px;
    box-shadow: -10px -10px #B7BABC;
}

.card-body-Details{
    max-width: 455px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.form-contact{
    width: 100%;
    padding: 5rem;
}

.form-group{
    width: 80%;
}

#submit{
    display: flex;
    align-self: flex-end;
    margin-right: 10%;
}

footer{
    background-color: rgb(250, 204, 204);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_media{
    align-content: center;
}

.cohort{
    margin: 1rem;
}

table, td, th{
    table-layout: auto; width: 100%;
    border-collapse: collapse;
    border: 2px solid #fd06066b !important;
}

.header_table{
    background-color: rgb(250, 204, 204);
}

td, th{
    width: 25vw;
}

tr{
    height: 25px;
}
